
#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#categories {
  display: flex;
}

#categories div {
  padding: 0.5em 1em;
  font-size: 120%;
}

#header > div {
  margin: 1em;
}

#categories div {
  margin: 0em 1em;
}

#main {
  text-align: left;
  width: 800px;
}

button {
  background-color: white;
  border: 1px solid #666;
  font-size: 120%;
  padding: 0.5em 1em;
  cursor: pointer;
}

#sort button.selected {
  background-color: #888;
  color: white;
}

.list .post {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.list .post .head, .list .post .dateline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list .post .voteScore .arrow {
  width: 1.5em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: #CCC;
}

.list .post .voteScore {
  margin-right: 0em;
  font-weight: normal;
  display: inline-block;
  width: 6em;
}

.list .post .voteScore span:nth-child(2) {
  font-weight: bold;
  padding: 0em 0.5em;
}

.list .post .author {
  font-style: italic;
}

.list .post .head {
  font-size: 130%;
  font-weight: bold;
}

