.App {
  text-align: center;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#categories {
  display: flex;
}

#header > div {
  margin: 1em;
}

#categories div {
  margin: 0em 1em;
}